<div class="container">
   <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer mt-auto py-3">
      <p class="col-md-4 mb-0 text-body-secondary">© 2025 Marianna Benkalovych</p>
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-body text-decoration-none" aria-label="Bootstrap">
         <i class="social-icon lab la-instagram"></i>
         <i class="social-icon lab la-linkedin"></i>
         <i class="social-icon lab la-facebook"></i>
         <i class="social-icon lab la-twitter"></i>
      </a>
      <ul class="nav col-md-4 justify-content-end">
         <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
         <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
         <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Projects</a></li>
         <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About me </a></li>
      </ul>
   </footer>
</div>